<html>
    <body>
        <p>Marvel</p>
        <div class ="one">
            <div style="display:flex; flex-direction:column;"><img src="./assets/img/thor.jpg" width="50%" height="50%"><span style="text-align: center;">{{thor}}</span></div>
            <div style="display:flex; flex-direction:column;"><img src="assets/img/ironman.jpg" width="50%" height="50%"><span style="text-align: center;">{{ironman}}</span></div>
            <div style="display:flex; flex-direction:column;"><img src="assets/img/captain.jpg" width="50%" height="50%"><span style="text-align: center;">{{captain}}</span></div>
        </div>
    </body>
</html>
