<div class="one"> 
    <div *ngFor="let item of movies; let i = index" class="two">
        <div class="card" style="width: 18rem;">
            <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{item.poster_path}}" class="card-img-top" alt="No Image Found">
            <div class="card-body">
              <h4 class="card-text">{{item.title}}.</h4>
              <button class="btn btn-primary" (click)="getDetails(i)">See Profile</button>
            </div>
        </div>
        <div id="i" class="display">
            <span style="font-size:26px;"><p>Title:{{item.title}}</p></span>
            <p><span style="color: red;">Release Date:</span><b>{{item.release_date}}</b></p>
            <p><span style="color: red;">Voting Average:</span><b>{{item.vote_average}}</b><p>
            <p><span style="font-size: 26px;"><u>Overview:</u></span>{{item.overview}}</p>
        </div>
    </div>
</div>